spring:
  application:
    name: Order

  datasource:
    url: jdbc:h2:mem:ordersdb
    driverClassName: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: validate

  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml
    enabled: true

  h2:
    console:
      enabled: true

server:
  port: 8081
